services:
  postgres:
    image: postgres:latest
    container_name: postgres
    restart: no
    env_file:
      - .env

    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend_prod:
    build:
      context: .
      dockerfile: Dockerfile.prod
    ports:
      - '3001:3001'
    environment:
      - PORT=3001
      - NODE_ENV=production
    volumes:
      - ./src:/usr/src/app/src

volumes:
  postgres_data:
