services:
  postgres:
    image: postgres:latest
    container_name: postgres
    restart: no
    env_file:
      - .env
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB']
      interval: 5s
      timeout: 5s
      retries: 5

  backend_dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - '3001:3001'
    env_file:
      - .env
    environment:
      - PORT=3001
      - NODE_ENV=development
      - DB_HOST=postgres
      - DB_PORT=5432
    volumes:
      - ./src:/usr/src/app/src
      - ./migrations:/usr/src/app/migrations
      - ./typeOrm.config.ts:/usr/src/app/typeOrm.config.ts
      - /usr/src/app/node_modules # Anonymous volume to prevent host node_modules from interfering

    depends_on:
      postgres:
        condition: service_healthy

volumes:
  postgres_data:
