<h2>Cześć {{name}}!</h2>
<p>Twoja rezerwacja została złożona i oczekuje na potwierdzenie przez restaurację.</p>
<p>Jeśli chcesz anulować rezerwację, kliknij poniższy link:</p>
<p><a href="{{cancelUrl}}">Anuluj rezerwację</a></p>
<p>Pozdrawiamy,<br>Zespół Restaurant Booking</p>
